# Infra and tools
.*                            @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser @icfaust @Vika-F @david-cortes-intel @avolkov-intel @syakov-intel @razdoburdin @maria-Petrova @yuejiaointel
.ci/                          @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser @icfaust
.circleci/                    @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser @icfaust
.github/                      @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser @icfaust

# Docs
*.md                          @maria-Petrova @napetrov @Alexsandruss @icfaust @david-cortes-intel @Vika-F @syakov-intel @yuejiaao
doc/                          @maria-Petrova @napetrov @Alexsandruss @icfaust @david-cortes-intel @Vika-F @syakov-intel @yuejiaao
requirements-doc.txt          @Alexsandruss @icfaust @david-cortes-intel @Vika-F @syakov-intel @yuejiaao

# sklearnex
onedal/                       @Alexsandruss @icfaust @ethanglaser @Vika-F @david-cortes-intel @syakov-intel @rakshithgb-fujitsu @keeranroth
sklearnex/                    @Alexsandruss @icfaust @ethanglaser @Vika-F @david-cortes-intel @syakov-intel @avolkov-intel @razdoburdin @yuejiaointel

# Examples
examples/                     @maria-Petrova @Alexsandruss @napetrov

# Dependencies
conda-recipe/                 @napetrov @Alexsandruss
dependencies-dev              @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser
pyproject.toml                @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser
requirements*                 @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser
setup.*                       @napetrov @Alexsandruss @icfaust

# Model builders
*model_builders*              @razdoburdin @ahuber21 @avolkov-intel @icfaust @david-cortes-intel
daal4py/mb/                   @razdoburdin @ahuber21 @avolkov-intel @icfaust @david-cortes-intel
src/gbt_model_builder*        @razdoburdin @ahuber21 @avolkov-intel @icfaust @david-cortes-intel

# Forests
*ensemble*                    @razdoburdin @ahuber21 @avolkov-intel @icfaust @david-cortes-intel

# Testing
**/test*.py                   @Alexsandruss @icfaust @yuejiaointel @razdoburdin
deselected_tests.yaml         @Alexsandruss @icfaust @razdoburdin
tests/                        @Alexsandruss @icfaust @yuejiaointel @razdoburdin

# Distributed
*spmd*                        @ethanglaser

# daal4py
daal4py/sklearn/              @Alexsandruss @icfaust

# Core
generator/                    @Alexsandruss @icfaust
scripts/                      @Alexsandruss @icfaust
src/                          @Alexsandruss @icfaust
