# Infra and tools
.*                            @homksei @ahuber21 @ethanglaser @icfaust @david-cortes-intel
.ci/                          @homksei @ahuber21 @ethanglaser @icfaust
.circleci/                    @homksei @ahuber21 @ethanglaser @icfaust
.github/                      @homksei @ahuber21 @ethanglaser @icfaust

# Docs
*.md                          @maria-Petrova @napetrov @icfaust @david-cortes-intel @Vika-F @syakov-intel @yuejiaointel
doc/                          @maria-Petrova @icfaust @david-cortes-intel @Vika-F @syakov-intel @yuejiaointel
requirements-doc.txt          @icfaust @david-cortes-intel 

# sklearnex
onedal/                       @icfaust @ethanglaser @Vika-F @david-cortes-intel
sklearnex/                    @icfaust @ethanglaser @Vika-F @david-cortes-intel

# Examples
examples/                     @syakov-intel @napetrov @david-cortes-intel

# Dependencies
conda-recipe/                 @napetrov @icfaust @david-cortes-intel
dependencies-dev              @napetrov @homksei @ahuber21 @ethanglaser
pyproject.toml                @napetrov @homksei @ahuber21 @ethanglaser
requirements*                 @napetrov @homksei @ahuber21 @ethanglaser
setup.*                       @napetrov @icfaust @david-cortes-intel

# Model builders
*model_builders*              @razdoburdin @ahuber21 @avolkov-intel @icfaust @david-cortes-intel
daal4py/mb/                   @razdoburdin @ahuber21 @avolkov-intel @icfaust @david-cortes-intel
src/gbt_model_builder*        @razdoburdin @ahuber21 @avolkov-intel @icfaust @david-cortes-intel

# Forests
*ensemble*                    @razdoburdin @ahuber21 @avolkov-intel @icfaust @david-cortes-intel

# Testing
**/test*.py                   @icfaust @yuejiaointel @david-cortes-intel @ahuber21 @ethanglaser
deselected_tests.yaml         @icfaust @yuejiaointel @david-cortes-intel @ahuber21 @ethanglaser
tests/                        @icfaust @yuejiaointel @david-cortes-intel @ahuber21 @ethanglaser

# Distributed
*spmd*                        @ethanglaser

# daal4py
daal4py/sklearn/              @icfaust

# Core
generator/                    @icfaust
scripts/                      @icfaust
src/                          @icfaust
