# Normalize all text files to LF; overrides below can still change this
* text=auto eol=lf

# These are explicitly Windows files and should use CRLF
*.bat   text eol=crlf
*.cmd   text eol=crlf
*.ps1   text eol=crlf
